<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addGoal</key>
	<string>https://simplisave.software/api/v1/goalSavings/creation</string>
	<key>budgetDetails</key>
	<string>https://simplisave.software/api/v1/budget/details</string>
	<key>budget</key>
	<string>https://simplisave.software/api/v1/budget/creation</string>
	<key>uploadImage</key>
	<string>https://simplisave.software/api/v1/student/image</string>
	<key>userDetails</key>
	<string>https://simplisave.software/api/v1/student/details</string>
	<key>studentRegister</key>
	<string>https://simplisave.software/api/v1/student/registration</string>
	<key>loginStudent</key>
	<string>https://simplisave.software/api/v1/auth/login</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://res.cloudinary.com</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>Grant camera access to take a photos</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
